<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gdzc">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".login.view.LoginActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".main.view.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".zcdj.view.ZcdjActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.AppComEdit"
                  android:windowSoftInputMode="stateHidden|adjustUnspecified"/>
        <activity android:name=".flh.view.FlhActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.AppComEdit"
                  android:windowSoftInputMode="stateHidden|adjustUnspecified"/>
        <activity android:name=".lydw.view.LydwActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.AppComEdit"/>
        <activity android:name=".syfx.view.SyfxActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.AppComEdit"/>
        <activity android:name=".zcdj.view.ZcdjEditActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.AppComEdit"
                  android:windowSoftInputMode="stateHidden|adjustUnspecified"/>
        <activity android:name=".zcdj.view.ZcdjCchActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.AppComEdit"
                  android:windowSoftInputMode="stateHidden|adjustUnspecified"/>
        <activity android:name=".zcdj.view.ZcdjCchEditActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.AppComEdit"
                  android:windowSoftInputMode="stateHidden|adjustUnspecified"/>
        <activity android:name=".zctj.view.ZctjActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.AppComEdit"
                  android:windowSoftInputMode="stateHidden|adjustUnspecified"/>
        <activity android:name=".zccx.view.ZccxActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.AppComEdit"
                  android:windowSoftInputMode="stateHidden|adjustUnspecified"/>
        <activity android:name=".zccx.view.ZccxDetailActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.AppComEdit"
                  android:windowSoftInputMode="stateHidden|adjustUnspecified"/>
    </application>

</manifest>